* {
  margin: 0;
  padding: 0;
}

:root {
  --font: #27272a;
  --background-color: #fafafa;
}

.body-container {
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--font);
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
}

/* HEADER */
.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  font-size: 1.25rem;
  margin-bottom: 60px;
}

.logo {
  margin-right: auto;
  font-weight: 600;
  color: #fa0f00;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: var(--font);
  font-weight: 600;
  transition-duration: 150ms;
}

a:hover {
  color: #a1a1aa;
}

.light-dark {
  width: 18px;
  height: 18px;
}
.light-dark-btn {
  background: #3f3f46;
  padding: 9px 9px 5px 9px;
  border: 0px solid transparent;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
  transition-duration: 150ms;
}

.light-dark-btn:hover {
  background: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* ALL SECTIONS*/

section {
}

.section-starter {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

/* HERO SECTION */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0;
  font-size: 2rem;
  margin-bottom: 120px;
  word-spacing: 10px;
  line-height: 1.6;
}

.hero-img {
  border-radius: 100px;
}

/* ABOUT SECTION */

.about-section {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 0px 50px 50px;
  background-color: #fefefe;
  box-shadow: 0 20px 12px 1px rgba(0, 0, 0, 0.06);
  margin-bottom: 175px;
}

.about-img {
  margin-top: 50px;
  border: 1px dashed black;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 55%;
}

.about-left h2 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.about-left p {
  font-size: 1.2rem;
}

/* SKILLS SECTION */

.skills-section {
  margin-bottom: 175px;
}

.skills-row {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 18px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: #fefefe;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.07);
}

.skill img {
  width: 50px;
  height: 50px;
}

.skill span {
  font-size: 0.8rem;
}

.description {
  font-size: 0.9rem;
  margin-left: 5%;
  max-width: 60%;
  padding: 23px 15px;
  text-align: start;
  border-radius: 20px;
  background-color: #fefefe;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.047);

  border: 1px dashed black;
}
