* {
  margin: 0;
  padding: 0;
}

:root {
  --font: #27272a;
  --font-hover: #a1a1aa;
  --dark-mode-btn: #52525b;
  --dark-mode-btn-hover: rgb(0, 0, 0);
  --background-color: #fafafa;
  --logo-color: #fa0f00;
  --about-bg: #fafafa;
  --skill-bg: #fafafa;
  --skill-bg-hover: #f1f1f1;
  --description-bg: #fafafa;
  --featured-bg: #fafafa;
}
.dark-theme {
  --font: #e4e4e7;
  --font-hover: #52525b;
  --dark-mode-btn: rgba(222, 222, 222, 0.171);
  --dark-mode-btn-hover: rgb(142, 142, 33);

  --background-color: #18181b;
  --logo-color: #fa0f00;
  --about-bg: #19191c;
  --skill-bg: #19191c;
  --skill-bg-hover: #141313;
  --description-bg: #19191c;
  --featured-bg: #19191c;
}

body {
  transition-duration: 900ms;
  transition-timing-function: ease-out;
}

.body-container {
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--font);
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
}

/* HEADER */
.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  font-size: 1.25rem;
}

.logo {
  margin-right: auto;
  font-weight: 600;
  color: var(--logo-color);
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: var(--font);
  font-weight: 600;
  transition-duration: 150ms;
}

a:hover {
  color: var(--font-hover);
}

.light-dark {
  width: 18px;
  height: 18px;
}
.light-dark-btn {
  background: var(--dark-mode-btn);
  padding: 9px 9px 5px 9px;
  border: 0px solid transparent;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
  transition-duration: 500ms;
}

.light-dark-btn:hover {
  background: var(--dark-mode-btn-hover);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* ALL SECTIONS*/

section {
}

.section-starter {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

/* HERO SECTION */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 150px;
  word-spacing: 10px;
  line-height: 1.6;
}

.heading {
  flex: 1;
}

.hero-img {
}

/* ABOUT SECTION */

.about-section {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 0px 50px 50px;
  background-color: var(--about-bg);
  box-shadow: 0 20px 12px 1px rgba(0, 0, 0, 0.06);
  margin-bottom: 175px;
  border-top: 0.3px solid rgba(128, 128, 128, 0.19);
}

.about-img {
  margin-top: 50px;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 55%;
}

.about-left h2 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.about-left p {
  font-size: 1.2rem;
}

/* SKILLS SECTION */

.skills-section {
  margin-bottom: 175px;
}

.skills-row {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  padding: 18px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: var(--skill-bg);
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.07);
}

.skill:hover {
  background-color: var(--skill-bg-hover);
}

.skill img {
  width: 50px;
  height: 50px;
}

.skill span {
  font-size: 0.8rem;
}

.description {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-left: auto;
  max-width: 60%;
  min-height: 50px;
  padding: 23px 15px;
  border-radius: 20px;
  background-color: var(--description-bg);
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.047);
}

/* FEATURED PROJECTS*/
.featured {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 50px;
  z-index: 2;
}

.featured-projects-container {
  min-height: 100vh;
}

.featured-projects {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background-color: var(--featured-bg);

  border-radius: 20px;
  box-shadow: 0 20px 12px 1px rgba(0, 0, 0, 0.06);

  opacity: 0;
  position: fixed;
  top: 90%;
  left: 50%;
  translate: -50% -90%;

  z-index: -1;
}

.project-img {
  width: 65%;
}
.project-info {
  width: 30%;
}

.project-tech {
  list-style-type: symbols(-);
}

.project-sites {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

/*FORM*/
form {
  border-radius: 20px;
  background-color: var(--about-bg);
  box-shadow: 0 20px 12px 1px rgba(0, 0, 0, 0.06);
}
#fs-frm-inputs {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 15px;

  border: 0px solid transparent;
}

label {
  display: flex;
  flex-direction: column;
}

label > * {
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 10px;
  background-color: #f1f1f1;
}

/* The animation code */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-section {
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  position: relative;
  opacity: 0;
}

/* typewriting */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > p {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: white;
  height: 55px;
}
.container p span.typed-text {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: var(--font);
}
.container p span.cursor {
  display: inline-block;
  background-color: #000;
  margin-left: 0.1rem;
  width: 8px;
  height: 100%;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* moving words */
.words {
  color: black;
  font-size: 2.75rem;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  color: var(--font);
  gap: 10px;
}
.bracket {
  color: var(--logo-color);
  animation: blink 2s infinite;
}
.words-container {
  margin: 0;
  overflow: hidden;
  height: 55px;
}
.words-wrapper {
  animation: swap 8s infinite;
  display: flex;
  flex-direction: column;
}
.word {
  color: var(--font);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
@keyframes swap {
  0% {
    transform: translateY(-3px);
  }
  25% {
    transform: translateY(-85px);
  }
  50% {
    transform: translateY(-170px);
  }
  75% {
    transform: translateY(-85px);
  }
  100% {
    transform: translateY(-3px);
  }
}
